:root {
    --bg-color: #fff;
    --padding-large: 6rem;
    --padding-medium: 5rem;
}

body {
    min-height: 4000px;
}

.jumbotron {
    padding-top: var(--padding-large);
    background-color: var(--bg-color);
}

#projects {
    background-color: var(--bg-color);
}

section {
    padding-top: var(--padding-medium);
}
